.panel-body {
  background-color: #F8F8F8;
}

/* Change header text to imported font */
h2 {
  font-family: 'Yusei Magic', sans-serif;
}

.loadingbar-custom {
	margin-left:2px;
    width: 11px;
    height: 11px;
    border: 2px solid #777777FA;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }
	
	
	